/* * Con este elemento afectamos a todos los elementos de la página */
* {
  margin: 0; /* Elmina cualquier margen predeterminado que podría aplicar navegador */
  padding: 0; /* Elminina cualquier relleno predeterminado que podría aplicar el navegador */
  border: 0; /* Elimina cualquier borde predeterminado que podría aplicar el navegador */
  box-sizing: border-box; /* Proporciona un modela de caja consistente en los diferentes navegadores */
  vertical-align: baseline; /* Esta regla establece la alineación vertical de elementos en línea en la línea base */
}

/* Estilo para la cabezera */
.Cabezera {
  background-color: #000000;
  width: 100%; /* El ancho puedes ajustarlo según tus necesidades */
  max-height: 60px; /* Altura máxima */
  color: #fff; /* Color del texto dentro del cuadrado */
  align-items: center; /* Centro los elementos del contenedor a lo largo del eje vertical */
  display: flex; /* Combierto el contenedor en un contenedor flexible */
  justify-content: center; /* Centra los elemetos en el eje horizontal */
}

.Logo {
  width: 50px; 
  height: 50px;
}

/* Parte del Botón */
/* Color del botón */
.Cabezera .Menu_Hamburgesa1 {
  background-color: #000000;
  display: none;
}
  
/* Tamaño del botón de menu */
.Cabezera .svg1 {
  width: 3em;
  height: 3em;
  fill: #fff;
}
  
.nav1 {
  background-color: #000000;
}
  
.nav1_ul1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
  
.li {
  margin: 1.5em;
}
  
/* Estilo para quitar el color azul y la línea subrayada de los enlaces dentro de un <li> */
li a {
  text-decoration: none; /* Quita la línea subrayada */
  color: #fff;
}
  
/* Para el estilo del Cuerpo */
body {
  font-family: 'Arial'; /* Estilo de la letra */
}
 
/* Para la foto del Fondo del index */
.Fondo {
  background-color: #E5E5E5;
  background-size: 100% 100%; /* Esto lo ajusta al ancho y largo de la pantalla */
  width: 100%; /* El ancho puedes ajustarlo según tus necesidades */
  padding: 1em; /* Espaciado interno dentro del cuadrado */
}

/* Para las imagenes de las peliculas */
article {
  display: flex; /* Contenedor flexbox */
  flex-direction: column; /* Organiza los elementos en columnas */
  align-items: center; /* Alinear los elementos a lo largo del eje transversal */
  justify-content: center; /* Centra los elementos horizontalmente en el contenedor */
}

.Imagenes_Peliculas img {
  width: 100px; /* Anchura */
  height: 150px; /* Altura */
  margin: 5px; /* Añade un margen de 5px en todos los lados de la imagen */
}

/* Boton Ver Más */
.BotonVerMas {
  width: 200px; /* Anchura */
  height: 40px; /* Altura */
  color: #fff; /* Color de la letra */
  font-weight: 500; /* Grosor mediano */
  border: none; /* Quita el bordes */
  text-transform: uppercase; /* Que lo pone en mayúsculas */
  cursor: pointer; /* Cambia el cursor a forma de mano */
  background-color: #4caf50; /* Color fondo botón */
  border-radius: 40px; /* Radio en las esquinas */
}

.BotonVerMas:hover {
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 1); /* Sombra */
}

.S1 {
  display: none; /* No se muestra en la web */
  margin-bottom: 10px; /* Margen inferior */
  max-width: 800px; /* Anchura máxima */
}

.S1 iframe {
  width: 100%; /* Usa el 100% de la anchura disponible */
  height: 300px; /* Altura */
  border: none; /* Quita el bordes */
}

.S1.activo {
  display: block; /* Muestra los elementos */
  text-align: center; /* Centrar el texto horizontalmente */
}

/* Para la parte de abajo con la información de contacto */
.Contacto {
  text-align: center; /* Centrar el texto horizontalmente */
  background-color: #000000;
}

.Contacto img {
  display: block; /* Hacer que la imagen sea un bloque para centrarla correctamente */
  margin: 0 auto; /* Centrar la imagen horizontalmente */
}

.Contacto p {
  margin: 5px 0; /* Añadir un pequeño espacio entre los párrafos para mejorar la apariencia */
  color: #fff; /* Cambiar el color del texto del enlace a negro */
}

.Contacto a {
  text-decoration: none; /* Quitar la línea subrayada del enlace */
  color: #fff; /* Cambiar el color del texto del enlace a negro */
}
  
/* Para que el botón se adapte al tamaño de la pantalla */
@media screen and (max-width: 480px) {
  .nav1 {
    width: 100%;
    display: none;
  }
  
  .nav1.activo {
    display: block;
  }
  
  .Cabezera .Menu_Hamburgesa1{
    display: block;
    cursor: pointer;
  }
  
  .nav1_ul1 {
    flex-direction: column;
  }
  
  .li {
    margin: 1rem 0;
  }
}
